body {
    background-color: #0078D7;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    margin-left: 10%;
    margin-top: 10vh;
    border: 0;
    padding: 0;
    cursor: none; /* This hides the mouse cursor */
    user-select: none; /* Disable text selection */
    color: #fff; /* Text color */
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
}

::-webkit-scrollbar {
  width: 0rem;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.error {
    font-size: 2.5em;
    font-weight: 300;
    width: 24em;
    text-align: justify;
}

.perc {
    font-size: 2.5em;
    font-weight: 300;
    width: 24em;
    text-align: justify;
}

.sad_face {
    margin-left:-0.5%;
    margin-top: 0;
    color: #fff; /* Text color */
    font-size: 12.5em;
    font-weight: 300;
    margin-bottom: 0;
}

.container {
    display: flex;
    align-items: center;
}

.text-container {
    flex: 1;
}

.image-container {
    margin-top: 0.4em;
    border-color: #fff;
    background-color: white; /* Set the background of the image to white */
}

.image-container img {
    max-width: 6.25em; /* Ensure the image fits within its container */
}

.info {
    font-size: 19.8px;
    margin-left: 3vw;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 30px;
}

.code, .code2 {
    margin-top: 0.625em;
    margin-left: 3vw;
    font-size: 0.9375em;
    font-weight: 300;
    text-align: justify;
}

.background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Place the <div> infront other content */
}

.int-div {
    position: fixed;
    background-color: #0078D7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the <div> behind other content */
}