body {
    background-color: #fff;
    display: flex;
    margin: 0;
    /* cursor: none; This hides the mouse cursor */
    user-select: none; /* Disable text selection */
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    font-family: "Segoe UI", Arial, sans-serif;
}

/* Reset some default styles */
input {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    padding: 6px 10px;
}

p {
    margin: 0;
}

/* Reset some default styles */

::-webkit-scrollbar {
  width: 0;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.frame {
    width: 100vw;
    height: 100vh;
}

#resizable-div {
    width: 0;
    height: 0;
    background-color: rgba(0, 120, 215, 0.3);
    border: 1px solid #0078D7;
    position: absolute;
    display: none;
    user-select: none;
}

.desktop {
    width: 100vw;
    height: 100vh;
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
}

.taskbar {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: rgba(23, 23, 23, 0.7);
    backdrop-filter: blur(5px);
    width: 100vw;
    position: fixed;
    bottom: 0;
}

/*Shortcuts*/

.shortcut-container {
    flex:1;
    display: flex; /* Use flex display for icon alignment */
}

.shortcuts {
    height: 100%;
    min-width: 100px;
    width: auto;
    display: flex; /* Use flex display for icon alignment */
    justify-content: right;
    align-items: center;
}
/*Shortcuts*/

/*Active Apps*/

.activeapps {
    height: 100%;
    width: 48px;
    margin-right: 5px;
    background: url("images/aapps1.png") no-repeat center center;
    background-size: 16px;
    transition: background-color 0.2s;
}

.activeapps:hover {
    background: url("images/aapps2.png") no-repeat center center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0s;
}

.activeapps:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0s;
}

/*Active Apps*/

/*Icons*/

.taskbar-icons {
    width: auto;
    display: flex; /* Use flex display for icon alignment */
    align-items: center;
    background-color: rgba(23, 23, 23, 0);
}

.minimise {
    height: 100%;
    width: 4px;
    border-left: 1px solid #797777;
    margin-left: 8px;
    transition: background-color 0.2s;
}

.notifications {
    height: 100%;
    width: 40px;
    background: url("images/notifications.png") no-repeat center center;
    background-size: 17px;
    transition: background-color 0.2s;
}

.timeanddate {
    height: 100%;
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
}

.time {
    color: white;
    font-size: 13px;
    font-weight: 300;
    margin-top: 1px;
}

.date {
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 4px;
}

.sound {
    height: 95%;
    width: 23px;
    background: url("images/sound.png") no-repeat center center;
    background-size: 22px;
    transition: background-color 0.2s;
}

.network {
    height: 95%;
    width: 23px;
    background: url("images/network.png") no-repeat center center;
    background-size: 16px;
    transition: background-color 0.2s;
}

.symbols {
    height: 100%;
    width: 23px;
    background: url("images/symbols.png") no-repeat center center;
    background-size: 12px;
    transition: background-color 0.2s;
}

/*Hover, Click */

.notifications:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0s;
}
.network:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0s;
}
.symbols:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0s;
}
.timeanddate:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0s;
}
.sound:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0s;
}
.minimise:hover {
    transition: background-color 0s;
    background-color: rgba(255, 255, 255, 0.1);
}

.notifications:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0s;
}
.network:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0s;
}
.symbols:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0s;
}
.timeanddate:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0s;
}
.sound:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0s;
}
.minimise:active {
    transition: background-color 0s;
    background-color: rgba(255, 255, 255, 0.2);
}

/*Hover*/


/*Icons*/

/*HomeButton*/

.homebutton {
    height: 40px;
    width: 48px;
    transition: background-color 0.2s; /* Add a background-color transition */
    background-color:none;
}

.wlogobutton {
    height: 40px;
    width: 100%;
    background: url("logo/wlogo-white.png") no-repeat center center;
    background-size: 17px;
    border: none;
    outline: none;
    background-color: rgba(32, 30, 31, 0.3);
    transition: background-color 0.15s; /* Add a background-color transition */
}

.wlogobutton:hover {
    background: url("logo/wlogo-lightblue.png") no-repeat center center;
    background-size: 17px;
    background-color: rgba(77, 76, 77, 0.3);
    border: none;
    outline: none;
    transition: background-color 0s; /* Disable background-color transition on hover */
}

.wlogobutton:active {
    background: url("logo/wlogo-blue.png") no-repeat center center;
    background-color: rgba(14, 14, 14, 0.5);
    border: none;
    outline: none;
    background-size: 17px;
}


/*HomeButton*/

/*Searchbox*/

.searchbox {
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    /*outline: 1px solid #C2C2C2;*/
    width: 290px;
    height: 25px;
    padding-left: 40px; /* Adjust the left padding to make room for the image */
    background-image: url('images/searchicon.png'); /* Set the background image */
    background-position: 8px center; /* Adjust the image position as needed */
    background-repeat: no-repeat;
    font-family: "Segoe UI", Arial, sans-serif; /* Set the font */
    font-size: 15px;
}

.searchbox::placeholder {
    color: #2B2B2B;
    font-size: 15px;
}

.searchbox:hover {
    outline:none;
    background-color: #FFF;
    border: 2px solid #B4B4B4;
}

.searchbox:focus {
    outline:none;
    border: 2px solid #0078D7;
    background-color: #FFF;
}

.searchbox:focus::placeholder {
    color: black;
}

/*Searchbox*/